---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Hero2 from '../components/Hero2.astro';
import ServicesSection from '../components/ServicesSection.astro';
import Navbar2 from '../components/Navbar2.astro';
import AboutUs2 from '../components/AboutUs2.astro';
import Contact2 from '../components/Contact2.astro';
---

<Layout title='Reforma3'>
	<Navbar2 />
	<Hero2/>

	<section class="flex flex-col w-full h-fit my-16 items-center justify-center">
		<ServicesSection></ServicesSection>
	</section>

	<AboutUs2/>
	<Contact2 />
	<Footer />
</Layout>
