<section class="bg-[#E6E6E6] flex flex-col items-center gap-6 md:gap-10 px-8 pt-8 pb-16">
  <div class="flex flex-col gap-2 items-center">
    <img class="h-20 md:h-48" src="../../reforma3-logo-negro-y-blanco.svg" alt="Logo de reforma3">
    <h2 class="text-center text-4xl md:text-7xl font-semibold">Agenda una reunión</h2>
  </div>

  <div class="flex flex-col gap-3 items-center">
    <p class="text-1xl text-center">Contáctate con nosotros y agenda una reunión de asesoría gratuíta.</p>
    <p class="text-xl text-center font-semibold">Envía un mensaje ahora!</p>
  </div>

  <form>
    <div class="relative w-[280px] md:min-w-lg">
      <label class="sr-only" for="text"> Text </label>

      <input
        class="w-full rounded-full border-gray-200 bg-gray-100 p-4 pl-12 pe-32 text-sm font-medium placeholder:text-xs placeholder:md:text-base"
        id="text"
        type="text"
        placeholder="Escribe un mensaje"
      />

      <button
        class="absolute end-1 top-1/2 -translate-y-1/2 rounded-full bg-gray-950 px-5 py-3 text-sm font-medium text-white transition hover:bg-gray-900 hover:scale-105"
      >
        Enviar
      </button>
    </div>
  </form>
</section>