
<!-- <img
    alt=""
    src="../../hero-imgs/hero-casa-mirador-1.jpg"
    class="h-full w-full object-cover"
  /> -->

<div 
  class="relative p-4 md:p-8 h-screen bg-cover bg-center bg-no-repeat flex items-center justify-center md:justify-start"
  style="background-image: url(../../hero-imgs/hero-casa-mirador-1.jpg);"  
>
<!-- <div class="absolute inset-0 bg-black opacity-50"></div> -->
  <!-- <div class="relative flex items-center justify-center h-full"> -->
    <div class=" flex flex-col justify-between p-6 rounded-2xl bg-white/10 backdrop-blur-sm h-60 w-xs md:w-xl">
      <h1 class="text-3xl md:text-5xl font-bold text-white">Buscas una reforma para tu hogar?</h1>
      <a href="https://api.whatsapp.com/send/?phone=59176238534&text=Hola, quiero agendar una reunión" target='_blank' class="w-fit bg-black hover:bg-gray-800 text-white font-medium py-4 px-6 rounded-4xl transition-colors shadow-sm">
        Agenda una reunión
      </a>
    </div>
  <!-- </div> -->
</div>